//slides
.slick {
    position: relative;
    @include list-reset;

    .slick-slide {
        .slick__item {
            vertical-align: top;
        }

        .slick__media {
            line-height: 0;
        }
    }

    &__media {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        cursor: pointer;

        >img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 1;
            cursor: pointer;
            @include transition(all, .3s, ease);
        }
    }

    &--video {
        .slick__item {
            line-height: 1;
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                z-index: 20;
                background-image: url('../images/icon-play@3x.png');
                background-size: 65px 65px;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 1;
                position: absolute;
                cursor: pointer;
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
            }
        }

        .slick__media {
            width: calc(100% - 30px);
            padding-top: calc((100% - 30px) * 0.56);
            cursor: pointer;
        }

        .icon__arrow {
            position: absolute;
            top: calc(50%);
            bottom: 0;
            cursor: pointer;
            z-index: 90;
            @include wh-square(44px);

            &--dp {
                left: -74px;
            }

            &--dn {
                right: 30px;
            }
        }

        .slides__dots {
            text-align: left;
            left: 10px;
            width: auto;
        }

        .slick-slide {
            >div:nth-child(odd) {
                margin-bottom: 30px;
            }
        }
    }

    &--card {
        .slick__media {
            width: calc(100% - 100px);
            padding-top: calc((100% - 100px) * 0.6);
            background: $navy300;

            img {

                opacity: .3;
            }

        }

        .slick-active {
            .slick__media {
                img {
                    opacity: 1;
                    @include transition(all, .6s, ease-in);
                }
            }
        }

        .icon__arrow {
            position: absolute;
            top: calc(50%);
            bottom: 0;
            cursor: pointer;
            z-index: 90;
            @include wh-square(44px);

            &--dp {
                left: calc(20% - 25px);
            }

            &--dn {
                right: calc(20% - 25px);
            }
        }
    }

    &--article {
        .slick {
            margin: 0 60px;
        }

        .slick__item {
            margin-bottom: 50px;
        }

        .slick__media {
            padding-top: 60%;
        }

        .icon__arrow {
            position: absolute;
            top: calc(50%);
            bottom: 0;
            cursor: pointer;
            z-index: 90;
            @include wh-square(44px);

            &--lp {
                left: -85px;
            }

            &--ln {
                right: -85px;
            }
        }
    }

    &--city {
        .slick__item {
            padding-bottom: 20px;
        }

        .slick__media {
            width: 100%;
            padding-top: 56%;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                z-index: 20;
                background-image: url('../images/icon-play@3x.png');
                background-size: 65px 65px;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 1;
                position: absolute;
                cursor: pointer;
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
                top: 0;
            }
        }

        .slick__action {
            margin-top: 15px;
            text-align: right;
        }

        .icon__arrow {
            position: absolute;
            top: calc(50%);

            &--dp {
                left: -60px;
            }

            &--dn {
                right: -60px;
            }
        }

        .slides__dots {
            text-align: left;
            bottom: 20px;
            width: 50%;
        }
    }
}

.slides {
    position: relative;

    &__arrow {
        @include wh-square(44px);
    }

    &__dots {
        margin: 0;
        bottom: -43px;

        li {
            margin: 0 7px;
            width: 30px;
            height: 3px;

            button {
                background: $navy200;
                width: 30px;
                height: 3px;
                padding: 0;

                &:before {
                    content: none;
                }
            }

            &.slick-active {
                button {
                    background: $yellow300;
                }
            }
        }
    }
}

//vex
.vex.vex-theme-wireframe {

    .vex-content {
        width: 95%;
        min-width: 350px;
        max-width: 860px;
        color: $black;
        border: 2px solid $navy300;
        font-size: $font-size-base;

        .grid li>div {
            background: $navy100;
            padding: 20px;
            min-height: 200px;
        }

        .btn {
            margin-top: 15px;
            display: inline-block;
        }
    }

    .vex-dialog-form {
        .vex-dialog-message {
            margin: 15px 0 30px 0;
            color: $black;
            font-size: $font-size-base;
        }

        .vex-dialog-input {
            margin-bottom: 0;
        }
    }

    .vex-close {
        &:before {
            color: $navy300;
            line-height: 60px;
            @include wh-square(60px);
        }
    }

    .vex-dialog-buttons {
        display: none;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//XLarge devices (landscape tablets, 1440 and down)
@media only screen and (max-width: $screen-xl) {
    .slick {

        &--card {
            .icon__arrow {

                &--dp {
                    left: calc(15% - 20px);
                }

                &--dn {
                    right: calc(15% - 20px);
                }
            }
        }
    }
}

//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    .slick {
        &--article {
            .icon__arrow {
                &--lp {
                    left: -45px;
                }

                &--ln {
                    right: -45px;
                }
            }
        }

        &--card {
            .icon__arrow {

                &--dp {
                    left: 100px;
                }

                &--dn {
                    right: 100px;
                }
            }
        }
    }
}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {
    .slick {
        &--video {
            .slick__item {

                &:before {}
            }

            .slick__media {
                width: calc(100%);
                padding-top: 56%;
                cursor: pointer;
            }

            .slides__dots {
                text-align: center;
                right: 0;
                left: 0;
                bottom: -150px;
            }

            .section__action {
                margin-top: 80px;
            }
        }

        &--card {
            .slick-list {}

            .slick__media {
                width: 100%;
                padding-top: 60%;
                background: $navy300;
            }
        }

        &--article {
            margin: 0;
        }
    }

    .vex.vex-theme-wireframe {

        .vex-content {

            .grid li>div {
                min-height: unset;
            }
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}