//color
$white: #ffffff;
$black: #3d3d3d;
$navy300: #254460;
$navy200: #7897b4;
$navy100: #d7dee4;
$olive300: #4d724d;
$yellow300: #f6b633;
$aqua300: #54cada;
$green300: #cbecc6;
$gray100: #f6f6f6;

$font-size-base: 1rem !default;
$font-size-14: 0.875rem !default;
$font-size-24: 1.5rem !default;
$font-size-32: 2rem !default;
$font-size-42: 2.5rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

//== Media queries breakpoints
//
// Extra small screen / phone
$screen-xs: 576px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;
// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;