/*---------- grid ----------*/
.grid {
    @include list-reset;
    @include clearfix;
    position: relative;

    &>li {
        position: relative;
        float: left;
        @include box-sizing(border-box);
    }

    &--wave {
        margin: 0 -30px;

        &>li {
            padding: 0 30px;

            &:first-child {
                width: 55%;
            }

            &:last-child {
                width: 45%;
            }
        }
    }
}


/*---------- button ----------*/
.btn {
    position: relative;
    box-sizing: border-box;

    &--block {
        padding: 12px 20px;
        min-width: 230px;
        text-align: center;
        overflow: hidden;

        .btn__text {
            color: $navy300;
        }

        &.btn--dark {
            border: 2px solid $navy300;

            &:hover {
                &:after {
                    @include translateX(20px);
                    @include transition(all, .3s, ease-in);
                }
            }
        }
    }

    &__text {
        font-size: $font-size-base;
        display: inline-block;
    }

    &--textlink {
        text-align: left;
        color: $navy200;

        &.icon__more {
            &:hover {
                &:after {
                    @include translateX(20px);
                    @include transition(all, .3s, ease-in);
                }
            }
        }
    }
}

/*---------- icon ----------
 *	.icon:			使用:before (預設)
 *	.icon--a:		使用:after
 *	.icon__text:	文字與:before/:after產生margin: 3px
 */

.icon {
    display: inline-block;

    &:before,
    &:after {
        background-repeat: no-repeat;
    }

    &:before {
        content: '';
    }

    &>.icon__text {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
    }

    &.icon--a,
    &.icon--b {
        &>.icon__text {
            display: inline-block;

            vertical-align: middle;
            font-style: normal;
        }
    }

    &.icon--single {

        &:before,
        &:after {
            display: block;
        }

        .icon__text {
            display: block;
        }
    }

    &.icon--a {
        &:before {
            content: none;
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.icon--b {
        &:after {
            content: none;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }
}

%icon-social {
    position: relative;

    &:before,
    &:after {
        @include wh-square(50px);
        background-image: url('../images/icon-social@3x.png');
        background-size: 50px 100px;
        background-position-x: 0;
        display: block;
        position: absolute;
        left: 0;
    }
}

.icon__social {
    @extend %icon-social;

    &--fb {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--line {

        &:before,
        &:after {
            background-position-y: -50px;
        }
    }
}

%icon-top {
    position: relative;

    &:before,
    &:after {
        @include wh-square(50px);
        background-image: url('../images/icon-gotop@3x.png');
        background-size: 50px 50px;
        background-position-x: 0;
        display: block;
        position: absolute;
        left: 0;
    }
}

.icon--top {
    @extend %icon-top;

    &:before,
    &:after {
        background-position-x: 0;
    }
}

%icon-arrow {
    position: relative;

    &:before,
    &:after {
        @include wh-square(44px);
        background-image: url('../images/icon-slide-arrow@3x.png');
        background-size: 44px 176px;
        background-position-x: 0;
        z-index: 20;
        opacity: 1;
    }
}

.icon__arrow {
    @extend %icon-arrow;

    &--dp {
        &:before {
            background-position-y: 0;
        }
    }

    &--dn {
        &:before {
            background-position-y: -44px;
        }
    }

    &--lp {
        &:before {
            background-position-y: -88px;
        }
    }

    &--ln {
        &:before {
            background-position-y: -132px;
        }
    }
}


%icon-more {
    position: relative;

    &:before,
    &:after {
        @include wh-square(16px);
        background-image: url('../images/icon-more-arrow@3x.png');
        background-size: 16px 48px;
        background-position-x: 0;
        z-index: 20;
        display: inline-block;
        vertical-align: bottom;
    }
}

.icon__more {
    @extend %icon-more;

    &--dark {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--middle {

        &:before,
        &:after {
            background-position-y: -16px;
        }
    }

    &--light {

        &:before,
        &:after {
            background-position-y: -32px;
        }
    }
}

%icon-hand {
    position: relative;

    &:before,
    &:after {
        @include wh-square(50px);
        background-image: url('../images/icon-hand@3x.png');
        background-size: 50px 50px;
        background-position-x: 0;
    }
}

.icon__hand {
    @extend %icon-hand;
    transform-origin: 70% 70%;
    display: inline-block;
    @include animation(wave, 2.5s, infinite, ease-in, 0);

    @keyframes wave {
        0% { transform: rotate(  0.0deg) }
        10% { transform: rotate(-10.0deg) }
        20% { transform: rotate( 12.0deg) }
        30% { transform: rotate(-10.0deg) }
        40% { transform: rotate(  9.0deg) }
        50% { transform: rotate(  0.0deg) }
        100% { transform: rotate(  0.0deg) }
    }
}


/*---------- alignment ----------*/
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

/*---------- visibility ----------*/
.mbonly {
    display: none;
}

.pconly {
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    .mbonly {
        display: block;
    }

    .pconly {
        display: none;
    }
}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {
    .grid {}
}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {
    .grid {

        &--wave {
            margin: 0 -30px;

            &>li {
                padding: 0 30px;

                &:first-child {
                    width: 100%;
                    margin-bottom: 40px;
                }

                &:last-child {
                    width: 100%;
                }
            }
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}