
/*---------- grid ----------*/
.grid {
    @include list-reset;
    @include clearfix;
    position: relative;

    &>li {
        position: relative;
        float: left;
        @include box-sizing(border-box);
    }

    &--month {
        margin: 0 -30px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 30px;

            &:first-child {
                width: calc(100% / 3 * 2);
                margin-left: calc(100% / 3);
            }
        }
    }

    &--topic {
        margin: 0 -30px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 30px;
        }

        &.top {
            li:first-child {
                width: calc(100% / 3 * 2);
                float: right;
            }
        }
    }

    &--tp {
        margin: 0 -15px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 25px;
        }
    }

    &--buy {
        margin: 0 -15px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
        }
    }

    &--plan {
        margin: 30px -15px 0 -15px;

        &>li {
            width: 50%;
            padding: 0 15px;
        }
    }

    &--info {
        margin: 0 -15px;

        &>li {
            width: 50%;
            padding: 0 15px;
        }
    }
}

/*---------- icon ----------
 *	.icon:			使用:before (預設)
 *	.icon--a:		使用:after
 *	.icon__text:	文字與:before/:after產生margin: 3px
 */

.icon {
    display: inline-block;

    &:before,
    &:after {
        background-repeat: no-repeat;
    }

    &:before {
        content: '';
    }

    &>.icon__text {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
    }

    &.icon--a,
    &.icon--b {
        &>.icon__text {
            display: inline-block;

            vertical-align: middle;
            font-style: normal;
        }
    }

    &.icon--single {

        &:before,
        &:after {
            display: block;
        }

        .icon__text {
            display: block;
        }
    }

    &.icon--a {
        &:before {
            content: none;
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.icon--b {
        &:after {
            content: none;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }
}

%icon-social {
    position: relative;

    &:before,
    &:after {
        @include wh-square(50px);
        background-image: url('../images/icon-social@3x.png');
        background-size: 50px 100px;
        background-position-x: 0;
        display: block;
        position: absolute;
        left: 0;
    }
}

.icon__social {
    @extend %icon-social;

    &--fb {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--line {

        &:before,
        &:after {
            background-position-y: -50px;
        }
    }
}

%icon-top {
    position: relative;

    &:before,
    &:after {
        @include wh-square(50px);
        background-image: url('../images/icon-gotop@3x.png');
        background-size: 50px 50px;
        background-position-x: 0;
        display: block;
        position: absolute;
        left: 0;
    }
}

.icon--top {
    @extend %icon-top;

    &:before,
    &:after {
        background-position-x: 0;
    }
}

%icon-arrow {
    position: relative;

    &:before,
    &:after {
        @include wh-square(44px);
        background-image: url('../images/icon-slide-arrow@3x.png');
        background-size: 44px 176px;
        background-position-x: 0;
        z-index: 20;
        opacity: 1;
    }
}

.icon__arrow  {
    @extend %icon-arrow ;

    &--dp {
        &:before {
            background-position-y: 0;
        }
    }

    &--dn {
        &:before {
            background-position-y: -44px;
        }
    }

    &--lp {
        &:before {
            background-position-y: -88px;
        }
    }

    &--ln {
        &:before {
            background-position-y: -132px;
        }
    }
}


/*---------- alignment ----------*/
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

/*---------- visibility ----------*/
.mbonly {
    display: none;
}

.pconly {
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    .mbonly {
        display: block;
    }

    .pconly {
        display: none;
    }
}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {
    .grid {

    }
}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}