@import "variables";
@import "mixin";
@import "normalize";
@import "helper";
@import "widget";

* {
    &:focus {
        outline: 0;
        box-shadow: 0;
    }
}

html,
body {
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

h2 {
    font-size: $font-size-40;
    font-weight: $font-weight-bold;
    margin: 0 0 30px 0;

    &.dark {
        color: $navy300;
    }

    &.light {
        color: $green300;
    }
}

h5 {
    font-size: $font-size-32;
    font-weight: $font-weight-light;
    margin: 0 0 20px 0;

    &.light {
        color: $white;
    }
}

ul,
li {
    @include list-reset;
}

p {
    line-height: 1.5;

    &.dark {
        color: $black;
    }

    &.light {
        color: $white;
    }
}

.bg {
    &--navy {
        background: $navy300;
        ;
    }

    &--gray {
        background: $gray100;
        ;
    }

    &--blue {
        background: $navy200;
        ;
    }

    &--white {
        background: $white;
        ;
    }
}

img {
    line-height: 1;
}

::selection {
    color: $green300;
    background: $navy300;
}

.container {
    position: relative;
    text-align: left;
    z-index: 0;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;

    &--full {
        max-width: unset;
        width: 100%;
    }
}

.section {
    padding: 110px 0;
}

/* ==========================================================================
   Header & Footer
   ========================================================================== */

.header {
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: 40px;
    @include transition(all, .3s, linear);

    &.active {
        padding-top: 0;

        .header__logo {
            width: 95px;
            height: 50px;
            margin: 12px 0 16px 50px;
        }
    }

    &__container {
        overflow: hidden;
    }

    &__logo {
        float: left;
        margin: 4px 0 4px 50px;
        width: 125px;
        height: 70px;
        background: url('../images/logo-ch-white@3x.png') 0 0/cover no-repeat;
        float: left;
        position: relative;
        @include transition(all, .3s, linear);
    }

    .nav {
        float: right;
        padding-right: 50px;

        .menu {
            margin: 0;

            li {
                display: inline-block;
                font-size: $font-size-base;

                >a {
                    color: $white;
                }

                &.active {
                    .menu__name:before {
                        left: 0;
                        right: 0;
                    }
                }
            }

            &__name {
                display: inline-block;
                padding: 30px 12px;
                color: $white;
                position: relative;
            }
        }
    }

    .burger {
        padding: 14px;
        margin-right: 10px;
        float: right;
        cursor: pointer;
        display: none;

        &__wrap {
            width: 22px;
            height: 22px;
            position: relative;

            span {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $white;
                border-radius: 2px;
                @include rotate(0);
                @include transition(all, .3s, ease);

                &:nth-of-type(1) {
                    top: 1px;
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    top: 9px;
                }

                &:nth-of-type(4) {
                    top: 17px;
                }
            }
        }

        &.active {
            .burger__wrap {
                span {

                    &:nth-of-type(1),
                    &:nth-of-type(4) {
                        top: 9px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        top: 9px;
                    }

                    &:nth-of-type(2) {
                        @include rotate(45);
                    }

                    &:nth-of-type(3) {
                        @include rotate(-45);
                    }
                }
            }
        }
    }
}

.footer {
    @include list-reset;
    padding: 20px 0;
    text-align: center;
    color: $white;

    ul {
        @include list-reset;

        li {
            display: inline-block;
            font-size: $font-size-base;
            margin: 0 20px 15px 0;

            a {
                color: $white;
            }
        }
    }

    p {
        font-size: $font-size-14;
        margin: 0;
    }
}

.wave {
    position: fixed;
    right: 20px;
    bottom: 65%;
    display: none;
    cursor: pointer;
    z-index: 99;
    @include transition(all, .6s, ease);

    span {
        color: $yellow300;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        display: block;
        margin-bottom: 10px;
    }

    .icon {
        margin: 0 auto;
    }

    &:hover {
        @include scale(1.2);
    }
}

.dialog__content {
    label {
        margin-bottom: 15px;
        display: block;
        font-weight: $font-weight-bold;
        color: $navy300;
    }
}

.gotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    @include transition(all, .6s, ease);

    &.active {
        bottom: 70px;
    }

    li {
        width: 50px;
        height: 50px;
        margin-top: 8px;

        a {
            display: block;
        }

        &#goTop {
            @include scale(0);
            @include transition(all, .6s, ease);


            &.active {
                @include scale(1);

            }
        }
    }
}

/* ==========================================================================
   Sections
   ========================================================================== */

.section {
    &#video:before {
        content: '';
        position: absolute;
        top: -150px;
        left: 0;
        height: 200px;
        width: 100%;
        background: url('../images/bg-curve_01.svg') no-repeat bottom left;
        background-size: 110%;
        z-index: 99;
    }

    &#card:before {
        content: '';
        position: absolute;
        bottom: 190px;
        left: 0;
        height: 240px;
        width: 100%;
        background: url('../images/bg-curve_02.svg') no-repeat bottom left;
        background-size: 110%;
        z-index: 0;
    }

    &#article:before {
        content: '';
        position: absolute;
        bottom: -280px;
        left: 0;
        height: 300px;
        width: 100%;
        background: url('../images/bg-curve_03.svg') no-repeat top left;
        background-size: 110%;
        z-index: 1;
    }

    &#motion:before {
        content: '';
        position: absolute;
        top: -275px;
        left: 0;
        height: 300px;
        width: 100%;
        background: url('../images/bg-curve_03.svg') no-repeat top left;
        background-size: 110%;
        z-index: 0;
        transform: scale(1, -1);
    }
}

#home {
    height: 100vh;
    padding: 0;
    position: relative;
    overflow: hidden;
    background: url('../images/landing.png') no-repeat top center/cover;

    h1 {
        height: 0;
        width: 0;
        text-indent: -9999px;
        color: transparent;
        font-size: 0;
    }

    .home {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include translateY(calc(50vh - 240px));
    }

    #logotype {
        width: 344px;
        height: 430px;
        position: relative;
        margin: 0 auto;
        @include scale(1.2);
        @include animation(fadeIn, 1s, 1, ease-in, 0);

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .topic {
            width: 344px;
            height: 375px;
            position: absolute;
            top: 0;
            left: 0;

            path {
                fill: $white;
                stroke: none;
            }
        }

        .ch-logo {
            width: 75px;
            height: 39px;
            position: absolute;
            top: 57px;
            right: 70px;

            path {
                fill: $white;
                stroke: none;
            }

            polygon {
                fill: #009944;
            }
        }

        .title {
            font-size: $font-size-24;
            font-weight: $font-weight-bold;
            letter-spacing: 8px;
            width: 100%;
            text-align: center;
            color: $white;
            position: absolute;
            bottom: 0;
        }
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100vh;

        &[poster] {
            width: 100%;
            height: 100vh;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(37, 68, 96, .3);
    }
}

#fake {
    height: 100vh;
    padding: 0;
}

#intro {
    padding: 110px 0 240px 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 300px;
        width: 160px;
        background: url('../images/bg-taiwan@3x.png') no-repeat 0 0/cover;
        @include translateY(calc(100% - 200px));
    }

    .section__content {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        p {
            font-size: $font-size-20;
            line-height: 1.8;
        }
    }
}

#video {
    position: relative;

    .section__title,
    .section__action {
        padding-left: 115px;
    }

    .section__content {
        padding-left: 100px;

        p {
            margin-left: 15px;
        }
    }

    .section__action {
        margin-top: 60px;
    }

    .slick {
        margin-top: 40px;
    }
}

#card {
    position: relative;
    z-index: 0;



    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 200px;
        width: 100%;
        background: $navy300;
        background-size: 100%;
        z-index: -1;
    }

    .section__title {
        padding-left: calc(20% + 50px);
    }
}

#article {
    position: relative;

    .slick {
        a {
            display: block;
            padding: 0 15px;
        }

        p {
            margin: 15px 0 0 0;
            font-size: $font-size-24;
            font-weight: $font-weight-bold;
            min-height: 72px;
            @include line-clamp(2);
        }
    }
}

#map {
    padding: 320px 0;
    overflow: hidden;
    position: relative;

    h2,
    p {
        text-align: center;
    }

    .section__content {
        display: flex;
        align-items: center;
    }



    .city {
        width: calc(100% - 500px);
        order: 1;
        padding: 0 80px;


        .slick {
            &__desc {
                margin-top: 25px;
                overflow: hidden;

                .name {
                    font-size: $font-size-40;
                    font-weight: $font-weight-bold;
                    color: $navy300;
                    width: 120px;
                    float: left;
                }

                p {
                    font-size: $font-size-24;
                    color: $black;
                    font-weight: $font-weight-bold;
                    margin: 0;
                    width: calc(100% - 160px);
                    text-align: left;
                    float: right;
                }
            }
        }
    }

    .map {
        order: 2;
        margin-left: auto;
        width: 280px;
        height: 390px;
        background: url('../images/map.svg') no-repeat 0 0/contain;
    }
}

#motion {
    position: relative;

    .section__title {
        width: 100%;
        max-width: 790px;
        margin: 0 auto;
    }

    .form {
        width: 100%;
        max-width: 790px;
        height: 400px;
        margin: 50px auto 0 auto;

        iframe {
            width: 100%;
            max-width: 790px;
            height: 400px;
        }
    }
}

#team {
    padding: 10px 20px;
    color: $white;
    font-size: $font-size-14;
    text-align: center;
    line-height: 1.5;

    span {
        display: inline-block;
        margin-right: 10px;
    }
}

#sponsor {
    .sponsor__group {
        margin-bottom: 30px;
        padding: 0 30px;
        text-align: center;

        label {
            font-size: $font-size-base;
            color: $black;
            margin: 20px 0 0 0;
            display: block;
        }

        img {
            margin-top: 15px;
            height: 45px;
            width: auto;

            &.h50 {
                height: 50px;
            }

            &.h40 {
                height: 40px;
            }

            &:not(:first-child) {
                margin: 15px 0 0 15px;
            }
        }

        span {
            line-height: 1.5;
            font-size: $font-size-14;
        }

        >div {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
//XLarge devices (landscape tablets, 1440 and down)
@media only screen and (max-width: $screen-xl) {
    #home {
        height: 100vh;
        padding: 0;
        position: relative;
        overflow: hidden;
        background: url('../images/landing.png') no-repeat top center/cover;

        #logotype {
            @include scale(1);
        }
    }
    #card {
        position: relative;
        z-index: 0;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 200px;
            width: 100%;
            background: $navy300;
            background-size: 100%;
            z-index: -1;
        }

        .section__title {
            padding-left: calc(15% + 50px);
        }
    }
}

//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    .wrap {
        max-width: 960px;
        margin: 0 auto;

        &--full {
            max-width: 100%;
        }
    }

    .mbonly {
        display: block;
    }

    .pconly {
        display: none;
    }

    .section {
        &#video:before {
            top: -150px;
            height: 170px;
        }

        &#card:before {
            bottom: 190px;
            height: 240px;
        }

        &#article:before {
            bottom: -270px;
            height: 280px;
        }

        &#motion:before {
            position: absolute;
            top: -275px;
            height: 280px;
        }
    }

    #card {
        .section__title {
            padding-left: 170px;
        }
    }
}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {
    .wrap {
        max-width: 720px;
        margin: 0 auto;

        &--full {
            max-width: 100%;
        }
    }

    .header {
        padding-top: 0;

        &.active {
            padding-top: 0;

            .header__logo {
                width: 70px;
                height: 40px;
                margin: 5px 0 5px 20px;
            }
        }

        &__logo {
            margin: 5px 0 5px 20px;
            width: 70px;
            height: 40px;
        }

        .nav {
            text-align: left;
            padding-right: 0;
            width: 100%;
            height: 100vh;
            float: inherit;
            position: fixed;
            background: $navy300;
            left: 100vw;
            @include transition(left, .6s, ease);

            &.active {
                left: 0;
            }

            .menu {
                padding: 70px 35px;

                li {
                    display: block;
                }

                &__name {
                    padding: 16px 0;
                    width: 100%;
                }

                &__content {
                    display: block;
                    margin-bottom: 15px;

                    li {
                        display: inline-block;

                        .btn {
                            width: auto;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .burger {
            display: block;
        }
    }

    #map {
        padding-top: 330px;
        overflow: hidden;

        h2,
        p {
            text-align: center;
        }

        .section__content {
            flex-wrap: wrap;
        }

        .city {
            width: calc(100% - 160px);
            order: 2;
            padding: 0 80px;


            .slick {
                &__desc {
                    margin-top: 25px;
                    overflow: hidden;

                    .name {
                        font-size: $font-size-40;
                        font-weight: $font-weight-bold;
                        color: $navy300;
                        width: 120px;
                        float: left;
                    }

                    p {
                        font-size: $font-size-24;
                        color: $black;
                        font-weight: $font-weight-bold;
                        margin: 0;
                        width: calc(100% - 160px);
                        text-align: left;
                        float: right;
                    }
                }
            }
        }

        .map {
            order: 1;
            margin: 0 auto 60px auto;
            width: 320px;
            height: 450px;
        }
    }
}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {
    .wrap {
        max-width: 100%;
        padding: 0 30px;

        &--full {
            max-width: 100%;
        }
    }

    .section {
        padding: 90px 0;
    }

    .wave {
        top: unset;
        bottom: 250px;
        right: 10px;

        span {
            font-size: $font-size-14;
        }
    }

    .gotop {
        right: 10px;
        bottom: -40px;

        &.active {
            bottom: 20px;
        }
    }

    .section {
        &#intro {
            padding: 110px 0 140px 0;
        }
        &#video:before {
            top: -195px;
            height: 200px;
        }

        &#card:before {
            bottom: 190px;
            height: 240px;
        }

        &#article:before {
            bottom: -275px;
            height: 280px;
        }

        &#motion:before {
            position: absolute;
            top: -275px;
            height: 280px;
        }
    }

    #card {
        .section__title {
            padding-left: 170px;
        }
    }

    #video {

        .section__title,
        p {
            padding: 0 30px;
        }

        .section__content {
            padding: 0;

            p {
                margin-left: 0;
            }
        }

        .section__action {
            padding: 130px 0 0 0;
            text-align: center;
        }

        .swiper {
            &--container {

                &:after {
                    content: none;
                }
            }

            &--video {

                .icon__arrow {
                    display: none;
                }
            }
        }

        .pagination {
            text-align: center;
        }
    }

    #card {
        .section__title {
            padding-left: 30px;
        }
    }

    #article {
        .slick a {
            padding: 0;
        }
    }

    #map {
        padding: 180px 0 100px 0;
        overflow: hidden;

        h2,
        p {
            text-align: center;
        }

        .section__content {
            flex-wrap: wrap;
        }

        .city {
            width: 100%;
            order: 2;
            padding: 0;

            .slick__desc {
                .name {
                    width: 100%;
                }

                p {
                    width: 100%;
                    margin: 15px 0;
                }
            }
        }
    }

    #motion {
        .form {

            iframe {
                width: 100%;
                max-width: 790px;
                height: 430px;
            }
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}